.container{
   font-family: 'Quicksand', sans-serif;
   background-color: rgb(255, 255, 255);
   align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
   height: 100%;
   width: 100%;
}