.container{
    display: flex;
    will-change: transform;
    flex-direction: row;
    transition: transform 0ms ease 0s;
    transform: translate3d(0px, 0px, 0px);
}

.box{
    width: 282.667px; 
    margin-right: 16px;
    border-radius: 6px;
    box-shadow: 0px 0px 2px 0px  #7f7c84;
    margin: 15px ;
}

.h2{
    /* display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.p{
    color: #333;
    font-size: 20px;
    padding: 0 20px;
    font-family:  Proxima Nova,-apple-system,Helvetica Neue,helvetica,roboto,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}
/* 
/// Proxima Nova,-apple-system,Helvetica Neue,helvetica,roboto,arial,sans-serif /// */

.img{
    height: 286px;
    overflow: hidden;
    text-align: center;
    background-color: black;
}

.ccuadro{
    display:inline-flex
}
.cuadro{
    margin: 10px;
    height: 70px;
    width: 70px;
    background-color: black;
}