.container{
    background-color: azure;
    height: 350px;
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.m1{
    background-color: burlywood;
    height: 400px;
    width: 550px;
    border-radius: 25px;
    margin: 10px;
}

.m2{
    background-color: aqua;
    height: 400px; 
    width: 550px;
    border-radius: 25px;
    margin: 10px;
}

.a1{
    width: 98%;
    height: 45%;
    background-color: antiquewhite;
    border-radius: 25px;
    margin: 1%;
}

.a2{
    display: flex;
    flex-direction: row;
}
.b2{
    width: 50%;
    height: 200px;
    background-color: beige;
    margin: 1%;
    border-radius: 25px;
}

.b3{
    width: 50%;
    height: 200px;
    background-color: beige;
    margin: 1%;
    border-radius: 25px;
}