.banner {
    width: 100%;
    height: 85%; /* Ajusta la altura según tus necesidades */
    overflow: hidden;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}
  
.banner img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease; /* Agrega una transición suave entre las imágenes */
}
  